name: publish-docs
on:
  push:
    branches:
      - main
jobs:
  build-and-publish-docs:
    runs-on: ubuntu-latest
    steps:
      # use a current Node.js version instead of deprecated v12 in Ubuntu image
      - uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        run: |
          npm install
          npm run docs
          # prevents Jekyll defaults by GitHub
          touch out/.nojekyll

      - name: Publish docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: out # The folder the action should deploy.
